<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome to the VW advert aggregator</title>
</head>
<body>

<div th:if="${registerError}">
    Invalid username and password, or details already exist
</div>
<form th:action="@{/register}" method="post">
    <div><label> Email address : <input type="text" name="username" value="enter a valid email"/> </label></div>
    <div><label> Password: <input type="password" name="password" value=""/> </label></div>
    <div><input type="submit" value="Register"/></div>
    <div><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></div>
</form>
</body>
</html>